.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('../../img/background3.png');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.shade {
  width: 110%;
  height: 115%;
  background: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.jumbotron .container {
  position: relative;
  top:65px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.information-panel {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.information-panel h2 {
    color: #393c3d;
    font-size: 24px;
}

.information-panel p {
    font-size: 15px;
    margin-bottom: 13px;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.parallax {
    /* The image used */
    background-image: url('../../img/background.png');

    /* Set a specific height */
    min-height: 100px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-1 {
    /* The image used */
    background-image: url('../../img/cyberstorm/1.png');

    /* Set a specific height */
    min-height: 100px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 {
    /* The image used */
    background-image: url('../../img/cyberstorm/2.png');

    /* Set a specific height */
    min-height: 100px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*.parallax.container {
  position: relative;
  top:100px;
}*/
